<ion-view title="Profil" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="profil-list6" class=" ">
            <ion-item class="item-avatar  " id="profil-list-item6">
                <h2>Ime priimek</h2>
                <p style="white-space:normal;">username</p>
            </ion-item>
            <ion-item id="profil-list-item7" class="  ">Naslov dostave</ion-item>
            <ion-item class="item-icon-right  " id="profil-list-item8" ui-sref="tabsController.ocene">Moje Ocene
                <i class="icon ion-arrow-right-c"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="profil-list-item9" ui-sref="tabsController.komentarji">Moji komentarji
                <i class="icon ion-arrow-right-c"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>