<ion-view title="Restavracije" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
    	<input ng-model="search" ng-change="typed(search)">
        <ion-list id="restavracije-list5" class=" " ng-repeat="rest in restavracije | filter: {'naziv': 'mcdo'}">
        	<ion-item id="restavracije-list-item2" ui-sref="tabsController.restavracija" class="  ">{{rest.naziv}}</ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>