<ion-view title="Restavracija" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="restavracija-list7" class=" ">
            <ion-item id="restavracija-list-item12" class="  ">Ime restavracije</ion-item>
        </ion-list>
        <div>
            <p>
                zemljevid
            </p>
        </div>
        <ion-list id="restavracija-list8" class=" ">
            <ion-item id="restavracija-list-item13" class="  ">Ocene in komentarji</ion-item>
            <ion-item id="restavracija-list-item14" class="  ">Delovni čas</ion-item>
            <ion-item class="item-icon-right  " id="restavracija-list-item15" ui-sref="tabsController.meni">Meniji
                <i class="icon ion-arrow-right-c"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>