<ion-view title="Signup" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="signup-form2" class="list ">
            <ion-list id="signup-list2" class=" ">
                <label class="item item-input " id="signup-input3">
                    <span class="input-label">Ime</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input6">
                    <span class="input-label">Priimek</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input4">
                    <span class="input-label">Uporabniško ime</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input7">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input5">
                    <span class="input-label">Geslo</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input " id="signup-input8">
                    <span class="input-label">Ponovi geslo</span>
                    <input type="password" placeholder="">
                </label>
                <label class="item item-input " id="signup-input9">
                    <span class="input-label">Naslov</span>
                    <input type="password" placeholder="Naslov">
                </label>
                <label class="item item-input " id="signup-input10">
                    <span class="input-label">Telefonska številka</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <button id="signup-button3" class=" button button-stable  button-block ">Registriracija</button>
        </form>
    </ion-content>
</ion-view>